<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
        stopOnFailure="false"
        bootstrap="tst/bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="common">
            <directory suffix="Test.php">tst</directory>
        </testsuite>
    </testsuites>
</phpunit>
